.image {
}
.image {
  width: 100%;
  height: 50vh;
}
.align-center {
  text-align: center;
}
.align-center a {
  background-color: #0100fa;
  color: #fff;
  margin: 1em 1em;
}

align-center a:hover {
  color: black;
  font-weight: 900;
}
