<section id="footer">
  <div class="socialDark container-max">
    <p class="white"> Quick take me there links</p>
    <ul>
      <li><a href="#hero">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="https://kraftycoder.ml">Portfolio</a></li>
      <li><a href="https://kraftycoder.ml#services">Services</a></li>
      <li><a href="/articles">Articles</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    </ul>
    <div id="social">
      <a href="https://www.quora.com/profile/Malcolm-Peter-1"><span class="fab fa-quora"></span></a>
      <a href="https://twitter.com/KraftyCoder"><span class="fab fa-twitter"></span></a>
      <a href="linkedin.com/in/krafty"><span class="fab fa-linkedin"></span></a>
      <a href="https://instagram.com/krafty_coder"><span class="fab fa-instagram"></span></a>
      <a href="https://www.codewars.com/users/KraftyCoder"><span></span></a>
      <a href="#"><span class="fab fa-youtube"></span></a>
      <a href="https://snapchat.com/add/kraftycoder"><span class="fab fa-snapchat"></span></a>
    </div>
    <div>
      <p class="white"> made with <span>♥</span> by <a href="https://github.com/Krafty-Coder">KraftyCoder</a></p>
    </div>
  </div>
</section>


