.wrap {
  width: 95%;
  margin: 5px auto;
  max-width: 900px;
  font-weight: 100;

}
.wrap h1 {
  font-weight: 100;

}
.terms {
  color: #fff;
  cursor: move;
  padding: 10px;
  background: #43cea2;
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
  background: -webkit-gradient(linear, left top, right top, from(#185a9d), to(#43cea2));
  background: -webkit-linear-gradient(left, #185a9d, #43cea2);
  background: -o-linear-gradient(left, #185a9d, #43cea2);
  background: linear-gradient(to right, #185a9d, #43cea2);
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.9);
  box-shadow: 0 0 10px rgba(0,0,0,0.9);

}
.terms p {
  line-height: 25px;

}
input[type='radio']{
  display: none;

}
.choices {
  margin-top: 40px;

}
.bold-p {
  font-weight: 500;
  letter-spacing: 2px;

}
.agree-btn {
  width: 70px;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  background: #f857a6;
  background: -webkit-linear-gradient(to right, #ff5858, #f857a6);
  background: -webkit-gradient(linear, left top, right top, from(#ff5858), to(#f857a6));
  background: -webkit-linear-gradient(left, #ff5858, #f857a6);
  background: -o-linear-gradient(left, #ff5858, #f857a6);
  background: linear-gradient(to right, #ff5858, #f857a6);
  border-radius: 5px;
  -webkit-transition: 200ms ease-out;
  -o-transition: 200ms ease-out;
  transition: 200ms ease-out;
  -webkit-box-shadow: 0 0 90px #fa3380;
  box-shadow: 0 0 90px #fa3380;

}
.agree-btn:hover {
  -webkit-box-shadow: 0 0 10px #fa3380;
  box-shadow: 0 0 10px #fa3380;

}
.not-agreeing {
  color: #fff;
  cursor: pointer;
  padding: 15px;
  background: #24C6DC;
  background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);
  background: -webkit-gradient(linear, left top, right top, from(#514A9D), to(#24C6DC));
  background: -webkit-linear-gradient(left, #514A9D, #24C6DC);
  background: -o-linear-gradient(left, #514A9D, #24C6DC);
  background: linear-gradient(to right, #514A9D, #24C6DC);
  border-radius: 5px;
  -webkit-transition: 200ms ease-out;
  -o-transition: 200ms ease-out;
  transition: 200ms ease-out;
  -webkit-box-shadow: 0 0 90px deepskyblue;
  box-shadow: 0 0 90px deepskyblue;

}
.not-agreeing:hover {
  -webkit-box-shadow: 0 0 0px deepskyblue;
  box-shadow: 0 0 0px deepskyblue;

}
input[type='submit'] {
  float: right;
  width: 100px;
  color: deepskyblue;
  height: 47px;
  border: 0;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  margin-top: -47px;
  margin-bottom: 3em;
  background-image: url('https://www.allsocialservice.com/wp-content/uploads/2018/02/telegram.jpg');
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 1px solid #fa3380;
  -webkit-transition: 600ms ease-out;
  -o-transition: 600ms ease-out;
  transition: 600ms ease-out;
  box-shadow: 0 0 2px 2px #fa3380;

}
input[type='submit']:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0 0px 10px #fa3380;
  box-shadow: 0 0px 10px #fa3380;

}
input[type='submit']:disabled {
  color: transparent;
  border: 1px solid #999;
  cursor: not-allowed;
  background-image: url('https://logopond.com/avatar/106865/profil_new.png');
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform: scale(1.0);
  -webkit-box-shadow: 0 0px 2px 2px #999;
  box-shadow: 0 0px 2px 2px #999;

}


