<section id="footer">
  <div class="socialDark container-max">
    <p class="white">Reach me through</p>
    <div>
      <a href="https://www.codewars.com/users/KraftyCoder"><img src="https://www.codewars.com/users/KraftyCoder/badges/micro"></a>
    </div>
    <div id="social">
      <a href="https://www.quora.com/profile/Malcolm-Peter-1"><span class="fab fa-quora"></span></a>
      <a href="https://twitter.com/KraftyCoder"><span class="fab fa-twitter"></span></a>
      <a href="https://github.com/Krafty-Coder"><span class="fab fa-github"></span></a>
      <a href="linkedin.com/in/krafty"><span class="fab fa-linkedin"></span></a>
      <a href="https://instagram.com/krafty_coder"><span class="fab fa-instagram"></span></a>
      <a href="https://snapchat.com/add/kraftycoder"><span class="fab fa-snapchat"></span></a>
    </div>
    <div>
      <p class="white"> made with <span>♥</span> by <a href="https://github.com/Krafty-Coder">KraftyCoder</a></p>
    </div>
  </div>
</section>


