{% extends 'layout.html' %}

{% block body %}
<div class="image">
  <h1>Krafty Coder official blog</h1>
  <p>
  Welcome to my blog awesome guy... You read, comment, share and if you have a great piece you can
  request via my inbox and get your article posted for free..
  </p>
</div>
<div class="align-center">
<!-- {% if session.logged_in == Null%} -->
<!--   <a href="/login" class="btn btn-lg"> Login</a> -->
<!--   <a href="/register" class="btn btn-lg"> Register</a> -->
<!-- </div> -->
<!-- {% endif %} -->

<section class="cards-wrapper">
  {% for article in articles %}
  <div class="card-grid-space">
    <div class="num">{{article.id}}</div>
    <a class="card" href="article/{{article.id}}" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
      <div>
        <h1>{{article.title}}</h1>
        <p>{{article.text[0:60]}}</p>
        <div class="date">{{article.create_date}}</div>
        <div class="tags">
          <div class="tag">Python</div>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}
